body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    
}
.Nav_item a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* font-weight: bold; */
}
.Nav_item a:hover{
    color: #ff6347;
}
.social_icons{
    margin-left: 990px;
} 
.Nav_container{
    display: flex;
    justify-content: space-between;
}
.Nav_list{
    display: flex;
    list-style: none;
    gap: 30px;
}
.Logo{
    width: 25px;
}
.Home_text{
    height: 320px;
}
.Home_text_container{
    text-align: center;
    margin-top: 150px;
    color: white;
}
.footer{
    display: flex;
    /* text-align: center; */
    margin-top: 240px;
}
.mouse{
    width: 30px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.profile-d{
    width: 120px;
    display: flex;
    justify-content: space-between;
}
.profile-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.name{
    font-size: 15px;
    /* font-weight: bold; */
    margin: 13px 10px 0px 10px;
    padding: 0;
    white-space: nowrap;
    width: 80px;
}